APP_ADMIN_USER=<app_admin_user>
APP_ADMIN_PASSWORD=<app_admin_password>
DB_URL=<db_url>
DB_USERNAME=<db_username>
DB_PASSWORD=<db_password>
DB_PASSWORD_ROOT=<db_password_root>
DATABASE_NAME=<database_name>
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://real-ui-domain.com